<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <div class="media-body">
                <h3><%= @user.email %></h3>
                <br />
                <%= render partial: 'items/form', locals: {user: @user} %>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <%= render @user.items %>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
