<% if item %>
    <li><%= item.name %><%= distance_of_time_in_words(2.days, 7.days, include_seconds: true) %><%= link_to "", [current_user], remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %></li>
<% end %>